@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.container{
    text-align: center;
} 
.title{
    margin-top: 50px; 
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-family: 'Poppins', sans-serif;
   
} 
.title span{
    color: #4cb7ff; 
    padding-left: 16px;
} 
.reset{
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor:pointer; 
    border-radius: 50px;
    background-color: #26ffcb;
    margin-top: 25px;
    margin-bottom: 50px; 
    font-weight: bolder; 
    font-family: 'Poppins', sans-serif; 
    font-size: 20px;
} 
.reset:hover{
    background-color: #ff0073; 
    color: #000; 
    font-weight: bolder; 
    font-family: 'Poppins', sans-serif; 
    transition: 1s;
}
.boxes{
    display: flex;
    height: 180px; 
    width: 180px; 
    background-color: #fff; 
    border: 4px solid #0f1b21; 
    border-radius: 12px; 
    cursor: pointer;
} 
.board{
    height: 600px;
    width: 564px; 
    display: flex;
    margin: auto;
}
.boxes img{
    margin: 50px 50px;
} 
.title img{
    padding: 20px 20px; 
    height: 35px;
} 

@media screen and (max-width: 600px) {
    .title{
        margin-top: 50px; 
        color: white;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;  
        font-family: 'Poppins', sans-serif;
       
    } 
    .reset{
        width: 100px;
        height: 40px;
        border: none;
        outline: none;
        cursor:pointer; 
        border-radius: 50px;
        background-color: #26ffcb;
        margin-top: 5px;
        margin-bottom: 5px; 
        font-weight: bolder; 
        font-family: 'Poppins', sans-serif; 
        font-size: 18px;
    }   
    .boxes{
        display: flex;
        height: 120px; 
        width: 120px; 
        background-color: #fff; 
        border: 4px solid #0f1b21; 
        border-radius: 12px; 
        cursor: pointer;
    } 
    .board{
        height: 500px;
        width: 100%; 
        display: flex;
        margin: auto;
    }
}